<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="LibraryDB" 
             connectionString="server=localhost;port=3306;database=kutuphane;user=root;password=;SslMode=none;CharSet=utf8;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="ApplicationName" value="Library Management System" />
        <add key="Version" value="2.0" />
        <add key="DefaultBorrowDays" value="14" />
        <add key="LateFeePerDay" value="2.00" />
    </appSettings>
</configuration>